html {
  height: 100%;
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  min-width: 100px;
}

.form-group input {
  flex: 1;
  max-width: 300px;
  margin-right: 10px;
}

.form-group button {
  margin-left: 10px;
}
